<!-- Putting All This Into Container Diversion -->
<div class="container">

<!-- Making Another Diversion  Columns Is-Centered-->
<div class="columns is-centered">

<!-- Making Another Diversion  Box-Column Is-One-Third-->
<div class="box column is-one-third">



<!-- Make A Heading Of Our App -->
<h1 class="title has-text-centered">Typing Challenge</h1>

<!-- Entering A Place Where Random Text Will Come -->
<p class="has-text-centered"><span [class] ="compare(letter,enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index;">{{ letter }}</span></p>  <!-- Using Random Sentence Variable Here --> <!--Binding A Property On Class So We Could Change The Color On The Basis Of Condition-->

<!-- Wrapping Up Of Input In Another Diversion -->
<div class="field">

  <!-- Using An Input Command Where The Message Will Appear -->
  <input class="input is-success" type="text" placeholder="Enter Random Generated Text Here" (input)="onInput($any($event.target).value)">

</div>

<!-- Wrapping Up Of Sucess Message In Another Diversion -->
<div class="box has-text-centered" *ngIf="checkText()">

<!-- Success Or Not Success Message Will Appear Here -->
<h1 class="title" id="mainTitle">Sucess!</h1>

</div>

<!-- Closing Box Column Is-One-Third -->
</div>

<!-- Closing Column Is-Centered  Diversion -->
</div>

<!-- Closing Container Diversion -->
</div>